In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("***")
pd.options.display.max_columns = 30

In [3]:
# Observe top 10 observations (int)
# Q1.1 What is the price of a house with `id` == 7237550310?

# Q1.2 How many bedrooms has a house with `id` == 7237550310?
q12 = df[df['id'] == 7237550310]['bedrooms'].iloc[0]
print(f"Q1.2 answer: {q12}")

# Q1.3 When was the house with `id` == 2414600126 built (`yr_built`)?
q13 = df[df['id'] == 2414600126]['yr_built'].iloc[0]
print(f"Q1.3 answer: {q13}")

# Q1.4 What is the `grade` of a house with `id` == 5631500400?
# Q1.5 When was the house with `id` == 6414100192 renovated (`yr_renovated`)?

Q1.2 answer: 4
Q1.3 answer: 1960

In [4]:
# Observe last 10 observations (int)
# Q2.1 What is the price of a house with `id` == 263000018?

# Q2.2 How many bedrooms has a house with `id` == 291310100?

# Q2.3 When was the house with `id` == 1523300141 built (`yr_built`)?
q23 = df[df['id'] == 1523300141]['yr_built'].iloc[0]
print(f"Q2.3 answer: {q23}")

# Q2.4 How many floors house with `id` == 2997800021 has?

# Q2.5 What is the zipcode of the house with `id` == 7852140040?
q25 = df[df['id'] == 7852140040]['zipcode'].iloc[0]
print(f"Q2.5 answer: {q25}")

Q2.3 answer: 2009
Q2.5 answer: 98065

In [5]:
# Increase maximal displayed columns
pd.options.display.max_columns = 30

In [6]:
# Observe top 10 observations again
# Is there any new columns displayed?
df.head(10)
# Answer: no, because we explicitly note the number of cols displayed from head

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [7]:
# Print all the columns/features names (int)
# n = 0
# for item in df.columns:
#     if item.startswith("sqft_"):
#         n += 1
# print(n)

# Q3.1 How many columns have `yr_` prefix?
q31 = len([columns for columns in df.columns if columns.startswith("yr_")])
print(f"Q3.1 answer: {q31}")

# Q3.2 How many columns have `sqft_` prefix?
q32 = len([columns for columns in df.columns if columns.startswith("sqft_")])
print(f"Q3.2 answer: {q32}")

# Q3.3 How many columns assosiated with house location (except `zipcode`) are in the data?

# Q3.4 How many columns have `rooms` in their names?

Q3.1 answer: 2
Q3.2 answer: 6

In [8]:
# Print data size (int)
# Q4.1 How many observations are in the data?
print(f"Q4.1 answer: {df.shape[0]}")

# Q4.2 How many features are in the data?
print(f"Q4.2 answer: {df.shape[1]}")

Q4.1 answer: 21613
Q4.2 answer: 21

In [9]:
# yr_built number of not NaN's in every column (int)
# Q5.1 How many NA values are in the `floors` column?

# Q5.2 How many NA values are in the `grade` column?
print(f"Q5.2 answer: {len(df[(df['grade'].isna()) | (df['grade'] == 0)])}")

# Q5.3 How many NA values are in the `bedrooms` column?

# Q5.4 How many NA values are in the `yr_built` column?

# Q5.5 How many explicit NA values are in the `yr_renovated` column?
print(f"Q5.5 answer: {len(df[df['grade'].isna()])}")

Q5.2 answer: 0
Q5.5 answer: 0

In [10]:
# Count number of unique values in every column (int)
# Q6.1 How many unique values are in the `bedrooms` column?
print(f"Q6.1 answer: {df['bedrooms'].nunique()}")

# Q6.2 How many unique values are in the `grade` column?

# Q6.3 How many unique values are in the `yr_renovated` column?
print(f"Q6.3 answer: {df['yr_renovated'].nunique()}")

# Q6.4 How many unique values are in the `bathrooms` column?

# Q6.5 How many unique values are in the `long` column?

Q6.1 answer: 13
Q6.3 answer: 70

In [11]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# Q7.1 For every unique `floors` value give its number of occurences.
print(f"Q7.1 answer: {list(df['floors'].value_counts())}")

# Q7.2 For every unique `condition` value give its number of occurences.

# Q7.3 For every unique `bedrooms` value give its number of occurences.

# Q7.4 For every unique `grade` value give its number of occurences.

# Q7.5 For every unique `view` value give its number of occurences.
print(f"Q7.5 answer: {list(df['view'].value_counts())}")

Q7.1 answer: [10680, 8241, 1910, 613, 161, 8]
Q7.5 answer: [19489, 963, 510, 332, 319]

In [12]:
# Display basic data statistics using .describe()
describe = df.describe()
describe = describe.apply(lambda x: round(x, 3))

In [13]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q8.1 What are the max, min, mean and the std of the `floors` column?
print(f"Q8.1 answer: {[describe['floors']['max'], describe['floors']['min'], describe['floors']['mean'], describe['floors']['std']]}")

# Q8.2 What are the max, min, mean and the std of the `bedrooms` column?

# Q8.3 What are the max, min, mean and the std of the `sqft_living` column?
print(f"Q8.4 answer: {[describe['sqft_living']['max'], describe['sqft_living']['min'], describe['sqft_living']['mean'], describe['sqft_living']['std']]}")

# Q8.4 What are the max, min, mean and the std of the `pice` column?

# Q8.5 What are the max, min, mean and the std of the `long` column?

Q8.1 answer: [3.5, 1.0, 1.494, 0.54]
Q8.4 answer: [13540.0, 290.0, 2079.9, 918.441]

In [14]:
# Display data types of all columns (int)
# Q9.1 How many columns have `object` data type?
print(f"Q9.1 answer: {len([column for column, dtype in df.dtypes.iteritems() if dtype == 'object'])}")

# Q9.2 How many columns have `int64` data type?
# Q9.3 How many columns have `float64` data type?

# Display data types of all columns (list of str)
# Q9.4 What are the columns with dtype == `float64`?
print(f"Q9.4 answer: {sorted([column for column, dtype in df.dtypes.iteritems() if dtype == 'float64'])}")

# Q9.5 What are the columns with dtype == `int64`?

Q9.1 answer: 1
Q9.4 answer: ['bathrooms', 'floors', 'lat', 'long', 'price']

In [15]:
# setting DataFrame index to be an `id` column, now .loc and .iloc will have different behavior
df.index = df.id

# dropping `id` column, since now it is an index
df.drop('id', axis=1, inplace=True)

# sort data by index for clarity
df.sort_index(inplace=True)

In [16]:
# Select rows by position (int) 
# Q10.1 How many bedrooms have a house on row 777?
# Q10.2 When was built a house on row 9999?
print(f"Q10.2 answer: {df.iloc[9999]['yr_built']}")

# Q10.3 How many floors have a house on row 1337?
print(f"Q10.3 answer: {int(df.iloc[1337]['floors'])}")

# Q10.4 How many bathrooms have a house on row 314?
# Q10.5 What is the grade of a house on row 2718?

Q10.2 answer: 2007
Q10.3 answer: 1

In [17]:
# Select rows by index (int)
# Q11.1 How many times the house with index 1000102 were sold?

# Q11.2 What is the price of the house with index 9842300095?

# Q11.3 When was built the house with index 104510440?
print(f"Q11.3 answer: {df.loc[104510440]['yr_built']}")

# Q11.4 What is the condition of a house with index 252000300?

# Q11.5 What is the living area (in square feets) of the house with index 1225069038?
print(f"Q11.5 answer: {df.loc[1225069038]['sqft_living']}")

Q11.3 answer: 1984
Q11.5 answer: 13540

In [18]:
# Using mask or .query syntax select rows/columns (int)
# Q12.1 How many houses were built during American Great Depression (1929–1939)? Including both start and end year.

# Q12.2 When was built the only house with basement area = 1024 sqft?
print(f"Q12.2 answer: {df[df['sqft_basement'] == 1024].iloc[0]['yr_built']}")

# Q12.3 How many houses are with the highest possible grade?

# Q12.4 When was built a house with maximal number of bedrooms?

# Q12.5 How many houses were sold for 256000 dollars?
print(f"Q12.5 answer: {len(df[df['price'] == 256000])}")

Q12.2 answer: 2006
Q12.5 answer: 8

In [19]:
# Using mask or .query syntax select rows/columns (int)
len(df[(df['sqft_living'] < 2000) & (df['bedrooms'] == 6)])
# Q13.1 How many houses with the waterfront (=1) were built duroing Nixon's presidency (1969—1974)? Including both start and end year.

# Q13.2 How many houses, built before first human in space (<1961), have high condition (=5)?

# Q13.3 How many houses are with 6 bedrooms and less than 2000 sqft living area?
print(f"Q13.3 answer: {len(df[(df['bedrooms'] == 6) & (df['sqft_living'] < 2000)])}")

# Q13.4 What was the price of a house with 5 bathrooms, built in 1998 and graded with 10 score?
print(f"Q13.4 answer: {int(df[(df['bathrooms'] == 5) & (df['yr_built'] == 1998) & (df['grade'] == 10)].iloc[0]['price'])}")

# Q13.5 How many floors has a house built in 1999 with 5 bedrooms and 3400 sqft living area?

Q13.3 answer: 20
Q13.4 answer: 1180000

In [20]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)
# Q14.1 What was the average (sold) price of a houses built in the year of Cuban Missile Crisis (1962)?

# Q14.2 What was the price of the most expensive house sold, built between 1991 and 2000?
print(f"Q14.2 answer: {df[(df['yr_built'] <= 2000) & (df['yr_built'] >= 1991)]['price'].max()}")

# Q14.3 What was the least expensive house sold in the last decade of 20th centuary?

# Q14.4 What is the median number of bathrooms in houses with grade above 9 (10 and more)?
print(f"Q14.4 answer: {df[df['grade'] >= 10]['bathrooms'].median()}")

# Q14.5 What is the median grade of houses with most popular zipcode value?

Q14.2 answer: 5300000.0
Q14.4 answer: 3.25

In [21]:
# Create `was_renovated` column. Bool column (0, 1) indicating whether the house was renovated.
df['was_renovated'] = df['yr_renovated'].apply(lambda year: 1 if year else 0)
df['was_renovated'].value_counts()

0    20699
1      914
Name: was_renovated, dtype: int64

In [22]:
# Create new columns using the old ones (new column in your DataFrame)
# Q15.1 Create a `sqft_tot_area` column (sum of all columns with `sqft_` prefix) using any method above
df['sqft_tot_area'] = df['sqft_living'] + df['sqft_lot'] + df['sqft_above'] + df['sqft_basement'] + df['sqft_living15'] + df['sqft_lot15']

# Q15.2 Create a new column `sqm_tot_area` using `sqft_tot_area` and the fact that 1 foot = 0.3048 meters
df['sqm_tot_area'] = df['sqft_tot_area'] * 0.3048 * 0.3048

# Q15.3 Create a new column `sqm_aver_floor_area` by dividing total area (in meters) by number of floors
df['sqm_over_floor_area'] = df['sqm_tot_area'] / df['floors']

# Q15.4 Create a new column `price_cat` by splitting a `price` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
df['price_cat'] = df['price'].apply(lambda price: ((price / df['price'].max()) // (1/5) if (price / df['price'].max()) % (1/5) != 0 else (price / df['price'].max()) // (1/5) - 1) + 1)

# Q15.5 Create a new bool column `high_class` it is True if the house has grade >= 9 and condition >= 4
df['high_class'] = df.apply(lambda row: (row['grade'] >= 9) & (row['condition'] >= 4), axis=1)

In [23]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average price of the house of the high_class(=True)?
q161 = df[df['high_class'] == True]['price'].mean()
print(f"Q16.1 answer: {round(q161, 3)}")

# Q16.2 What is the average total_area (in meters) of the house from highest price category?

# Q16.3 What is the maximal number of floors amongst houses with the lowest price category?
q163 = df[df['price_cat'] == 1]['floors'].max()
print(f"Q16.3 answer: {round(q163, 3)}")

# Q16.4 What is the most frequent zipcode amongst houses with the lowest price category?

# Q16.5 What is the minimal number of bathrooms in houses with high_class=True?

Q16.1 answer: 1146802.328
Q16.3 answer: 3.5

In [24]:
# Create new columns based on `date` column

# Q17.1 Convert date to datetime format
df['date'] = pd.to_datetime(df['date'])

# Q17.2 Extract and store `year`
df['year'] = df['date'].apply(lambda date: date.year)

# Q17.3 Extract and store `month`
df['month'] = df['date'].apply(lambda date: date.month)

# Q17.4 Extract and store `day`
df['day'] = df['date'].apply(lambda date: date.day)

# Q17.5 Extract and store `weekday`
df['weekday'] = df['date'].apply(lambda date: date.weekday())

# Q17.6 Create a new column `house_age_10` - the age of the house in full decades (e.g. 9 year old house - 0, 21 year old house - 2),
# using `yr_built` and 'year' columns
df['house_age_10'] = df.apply(lambda row: max((row['year'] - row['yr_built']) // 10, 0), axis=1)

In [25]:
# Drop column `date`
df = df.drop(columns=['date'])

In [26]:
# Find some date related information from the data (int)

# Q18.1 What is the most popular selling weekday?
print(f"Q18.1 answer: {df['weekday'].value_counts().idxmax()}")

# Q18.2 What is the most popular selling month?

# Q18.3 What is the least popular selling weekday?

# Q18.4 What is the median age of the house (on a first available sold date)? (float)
print(f"Q18.4 answer: {round(df['house_age_10'].mean() * 10, 3)}")

# Q18.5 How many houses were sold on America's Independence Day (July, 4)?

Q18.1 answer: 1
Q18.4 answer: 38.786

In [27]:
# Create some groupby features

# Q19.1 `price_by_class` groupby `high_class` and compute median `price`.

# Q19.2 `price_by_year` groupby `year` and compute median price.
group = df.groupby(['year'])['price'].median()
df['price_by_year'] = df['year'].map(group)

# Q19.3 `price_by_weekday` groupby `weekday` and compute median price.

# Q19.4 `area_by_price` groupby `price_cat` and compute average `sqft_living`.

# Q19.5 `floors_by_age` groupby `floors` and compute average age of a house.
group2 = df.groupby('floors')['house_age_10'].mean()
df['floors_by_age'] = df['floors'].map(group2)

In [28]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `n_houses_zipcode` groupby `zipcode` and count number of occurences of every unique zipcode

# Q20.2 `n_houses_yr_built` groupby `yr_built` and count number of houses built in each year
group = df.groupby(['yr_built']).size()
df['n_houses_yr_built'] = df['yr_built'].map(group)

# Q20.3 `price_by_yr_month_`(median, std) groupby `year`, `month` and compute median and std `price`.

# Q20.4 `price_by_grade_age_`(median, std) groupby `grade`, `house_age` and compute median and std `price`.
group = df.groupby(['grade', 'house_age_10'])['price'].median().reset_index(level=['grade', 'house_age_10'])
group.rename(columns={"price": "price_by_grade_age_median"}, inplace=True)
group2 = df.groupby(['grade', 'house_age_10'])['price'].std().reset_index(level=['grade', 'house_age_10'])
group2.rename(columns={"price": "price_by_grade_age_std"}, inplace=True)
df['price_by_grade_age_median'] = pd.merge(df.reset_index(), group, on=['grade', 'house_age_10'], how='left').fillna(0).set_index('id')['price_by_grade_age_median']
df['price_by_grade_age_std'] = pd.merge(df.reset_index(), group2, on=['grade', 'house_age_10'], how='left').fillna(0).set_index('id')['price_by_grade_age_std']

In [29]:
# Q21 Drop all generated features which used price column, e.g. price_by_year, price_cat.
df.drop(['price_cat', 'price_by_grade_age_median', 'price_by_grade_age_std'], axis=1, inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 1000102 to 9900000190
Data columns (total 32 columns):
price                  21613 non-null float64
bedrooms               21613 non-null int64
bathrooms              21613 non-null float64
sqft_living            21613 non-null int64
sqft_lot               21613 non-null int64
floors                 21613 non-null float64
waterfront             21613 non-null int64
view                   21613 non-null int64
condition              21613 non-null int64
grade                  21613 non-null int64
sqft_above             21613 non-null int64
sqft_basement          21613 non-null int64
yr_built               21613 non-null int64
yr_renovated           21613 non-null int64
zipcode                21613 non-null int64
lat                    21613 non-null float64
long                   21613 non-null float64
sqft_living15          21613 non-null int64
sqft_lot15             21613 non-null int64
was_renovated          21613 non-null int64
sqft_tot_area          21613 non-null int64
sqm_tot_area           21613 non-null float64
sqm_over_floor_area    21613 non-null float64
high_class             21613 non-null bool
year                   21613 non-null int64
month                  21613 non-null int64
day                    21613 non-null int64
weekday                21613 non-null int64
house_age_10           21613 non-null int64
price_by_year          21613 non-null float64
floors_by_age          21613 non-null float64
n_houses_yr_built      21613 non-null int64
dtypes: bool(1), float64(9), int64(22)
memory usage: 5.9 MB

In [31]:
from sklearn.preprocessing import OneHotEncoder

cat_cols = ['zipcode', 'high_class']

df = df.join(pd.get_dummies(df.zipcode, prefix='Zipcode'))
df = df.join(pd.get_dummies(df.high_class, prefix='high_class'))

In [32]:
# Q22 Split your data into train and test parts.
from sklearn.model_selection import train_test_split

# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns = 'price'), df['price'], test_size=0.33, random_state=7)
print(f"Q22 answer: {[len(X_train), len(X_test)]}")

Q22 answer: [16174, 7967]

In [34]:
pd.options.display.max_columns = 33

In [35]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_X_train = scaler.fit_transform(X_train.values)
scaled_X_test = scaler.fit_transform(X_test.values)

scaled_X_train = pd.DataFrame(scaled_X_train, index=X_train.index, columns=X_train.columns)
scaled_X_test = pd.DataFrame(scaled_X_test, index=X_test.index, columns=X_test.columns)

In [38]:
X_train = scaled_X_train
X_test = scaled_X_test

In [39]:
# Create a predictive regression model of a house price.

# Q23.1 Use linear regression with l2 regularization (Ridge regression)
from sklearn.linear_model import Ridge
ridge_clf = Ridge(alpha=1.0)
ridge_clf = ridge_clf.fit(X_train, y_train)
y_ridge_pred = ridge_clf.predict(X_test)

# Q23.2 Use decision tree regression

# Q23.3 Use k nearest neighbours regression
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_neighbors=5)
knn_clf = knn_clf.fit(X_train, y_train)
y_knn_pred = knn_clf.predict(X_test)

In [41]:
# Use grid search to select optimal hyperparamters of your models. 
from sklearn.model_selection import GridSearchCV
from tqdm import tqdm
import numpy as np 

# Q24.1 Alpha for a ridge regression
ridge_parameters = {'alpha':np.logspace(-5, 1, 20)}

# Let's set MSE as evalation metric and set a 10-step cross validation
ridge_grided_clf = GridSearchCV(ridge_clf, ridge_parameters, n_jobs = -1, verbose=1)
ridge_grided_clf = ridge_grided_clf.fit(X_train, y_train)
ridge_grided_clf = ridge_grided_clf.best_estimator_
ridge_grided_clf = ridge_grided_clf.fit(X_train, y_train)

# Q24.2 Depth for the tree

# Q24.3 Number of neighbours for the knn
n_neighbors = list(range(3,22, 2))
param_grid = dict(n_neighbors=n_neighbors)

# Let's set accuracy as evalation metric and set a 10-step cross validation
knn_grideed_clf = GridSearchCV(knn_clf, param_grid, n_jobs = -1, verbose=1)
knn_grideed_clf.fit(X_train, y_train)
knn_grideed_clf = knn_grideed_clf.best_estimator_
knn_grideed_clf = knn_grideed_clf.fit(X_train, y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    4.8s finished
C:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  1.9min finished

In [42]:
# Compute train and test mean squared error for your best models (list of float).
from sklearn.metrics import mean_squared_error as mse

# Q25.1 Train, test MSE using linear regression with l2 regularization
y_train_ridge_pred = ridge_grided_clf.predict(X_train)
Ridge_train_MSE = mse(y_train_ridge_pred, y_train)
print(f"Ridge regression train MSE = {Ridge_train_MSE}")

y_test_ridge_pred = ridge_grided_clf.predict(X_test)
Ridge_test_MSE = mse(y_test_ridge_pred, y_test)
print(f"Ridge regression test MSE = {Ridge_test_MSE}")

# Q25.2 Train, test MSE using decision tree regression

# Q25.3 Train, test MSE using k nearest neighbours regression
y_knn_train_pred = knn_grideed_clf.predict(X_train)
knn_train_MSE = mse(y_train, y_knn_train_pred)
print(f"KNN test MSE = {knn_train_MSE}")

y_knn_test_pred = knn_grideed_clf.predict(X_test)
knn_test_MSE = mse(y_test, y_knn_test_pred)
print(f"KNN train MSE = {knn_test_MSE}")

Ridge regression train MSE = 25409541693.56206
Ridge regression test MSE = 22457605549.665222
KNN test MSE = 38419987866.0993
KNN train MSE = 41427219929.799545

In [43]:
# Compute train and test R^2 for your best models (list of float).
from sklearn.metrics import r2_score
# Q26.1 Train, test R^2 using linear regression with l2 regularization
Ridge_train_r2 = r2_score(y_train_ridge_pred, y_train)
print(f"Ridge regression train r2 = {Ridge_train_r2}")

Ridge_test_r2 = r2_score(y_test_ridge_pred, y_test)
print(f"Ridge regression test r2 = {Ridge_test_r2}")

# Q26.2 Train, test R^2 using decision tree regression

# Q26.3 Train, test R^2 using k nearest neighbours regression
knn_train_r2 = r2_score(y_train, y_knn_train_pred)
print(f"KNN train r2 = {knn_train_r2}")

knn_test_r2 = r2_score(y_test, y_knn_test_pred)
print(f"KNN test r2 = {knn_test_r2}")

Ridge regression train r2 = 0.7683548063464813
Ridge regression test r2 = 0.7918095888231801
KNN train r2 = 0.7156407924381096
KNN test r2 = 0.6641050873154074

In [47]:
weights_dict = dict(zip(df.columns, ridge_grided_clf.coef_))
weights_df = pd.DataFrame.from_dict(weights_dict, orient='index')
weights_df = weights_df.apply(lambda x: abs(x))
top_features = weights_df.sort_values(by=0, ascending=False).head(5).index
print("Top 5 features are")
for idx, feature in enumerate(top_features):
    print(f"{idx + 1}: {feature}")
    
print(f"Q27 answer: {list(top_features)}")

Top 5 features are
1: yr_built
2: sqft_lot15
3: grade
4: bathrooms
5: Zipcode_98003
Q27 answer: ['yr_built', 'sqft_lot15', 'grade', 'bathrooms', 'Zipcode_98003']